## Importing Library

In [1]:
import pandas as pd

## Dataset Reading

In [2]:
US_Accidents = pd.read_csv("US_Accidents_Dec19.csv")

## Dataset Columns

In [3]:
US_Accidents.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

## Top 5 rows from datset

In [4]:
US_Accidents.head(5)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

## Checking the Number of Rows and Columns of Dataset

In [5]:
US_Accidents.shape

(2974335, 49)

## Creating a new Column that will contains Year Information

In [6]:
US_Accidents['Start_Year'] = pd.DatetimeIndex(US_Accidents['Start_Time']).year
US_Accidents['Month'] = pd.DatetimeIndex(US_Accidents['Start_Time']).month

## Unique Years from the dataset

In [7]:
US_Accidents['Start_Year'].unique()

array([2016, 2017, 2019, 2020, 2018, 2015])

## Making a new dataframe on the base of year 2019

In [8]:
US_Accidents_Updated = US_Accidents.loc[US_Accidents['Start_Year'].isin([2019])]

## Top Rows of New dataframe

In [9]:
US_Accidents_Updated.head(5)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Year,Month
512224,A-512230,MapQuest,201.0,2,2019-12-25 09:49:34,2019-12-25 11:03:57,41.848064,-71.062386,NaN,NaN,...,False,False,False,False,Day,Day,Day,Day,2019,12
512225,A-512231,MapQuest,201.0,2,2019-12-25 12:52:38,2019-12-25 13:37:03,42.660690,-71.192589,NaN,NaN,...,False,False,False,False,Day,Day,Day,Day,2019,12
512226,A-512232,MapQuest,201.0,2,2019-12-25 20:43:26,2019-12-25 21:58:45,42.157021,-71.069061,NaN,NaN,...,False,False,False,False,Night,Night,Night,Night,2019,12
512227,A-512233,MapQuest,201.0,2,2019-12-25 20:57:28,2019-12-25 22:07:34,42.338776,-71.276962,NaN,NaN,...,False,False,False,False,Night,Night,Night,Night,2019,12
512228,A-512234,MapQuest,201.0,3,2019-12-25 07:17:49,2019-12-25 08:49:18,42.379570,-83.200256,NaN,NaN,...,False,False,False,False,Night,Night,Day,Day,2019,12

## Shape of the New Dataframe

In [10]:
US_Accidents_Updated['Date']= pd.to_datetime(US_Accidents_Updated['Start_Time'])
US_Accidents_Updated.head()

/Users/asmaaldrees/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Year,Month,Date
512224,A-512230,MapQuest,201.0,2,2019-12-25 09:49:34,2019-12-25 11:03:57,41.848064,-71.062386,NaN,NaN,...,False,False,False,Day,Day,Day,Day,2019,12,2019-12-25 09:49:34
512225,A-512231,MapQuest,201.0,2,2019-12-25 12:52:38,2019-12-25 13:37:03,42.660690,-71.192589,NaN,NaN,...,False,False,False,Day,Day,Day,Day,2019,12,2019-12-25 12:52:38
512226,A-512232,MapQuest,201.0,2,2019-12-25 20:43:26,2019-12-25 21:58:45,42.157021,-71.069061,NaN,NaN,...,False,False,False,Night,Night,Night,Night,2019,12,2019-12-25 20:43:26
512227,A-512233,MapQuest,201.0,2,2019-12-25 20:57:28,2019-12-25 22:07:34,42.338776,-71.276962,NaN,NaN,...,False,False,False,Night,Night,Night,Night,2019,12,2019-12-25 20:57:28
512228,A-512234,MapQuest,201.0,3,2019-12-25 07:17:49,2019-12-25 08:49:18,42.379570,-83.200256,NaN,NaN,...,False,False,False,Night,Night,Day,Day,2019,12,2019-12-25 07:17:49

In [11]:
US_Accidents_Updated['AccidentDate'] = US_Accidents_Updated['Date'].dt.date
US_Accidents_Updated.head()

/Users/asmaaldrees/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Start_Year,Month,Date,AccidentDate
512224,A-512230,MapQuest,201.0,2,2019-12-25 09:49:34,2019-12-25 11:03:57,41.848064,-71.062386,NaN,NaN,...,False,False,Day,Day,Day,Day,2019,12,2019-12-25 09:49:34,2019-12-25
512225,A-512231,MapQuest,201.0,2,2019-12-25 12:52:38,2019-12-25 13:37:03,42.660690,-71.192589,NaN,NaN,...,False,False,Day,Day,Day,Day,2019,12,2019-12-25 12:52:38,2019-12-25
512226,A-512232,MapQuest,201.0,2,2019-12-25 20:43:26,2019-12-25 21:58:45,42.157021,-71.069061,NaN,NaN,...,False,False,Night,Night,Night,Night,2019,12,2019-12-25 20:43:26,2019-12-25
512227,A-512233,MapQuest,201.0,2,2019-12-25 20:57:28,2019-12-25 22:07:34,42.338776,-71.276962,NaN,NaN,...,False,False,Night,Night,Night,Night,2019,12,2019-12-25 20:57:28,2019-12-25
512228,A-512234,MapQuest,201.0,3,2019-12-25 07:17:49,2019-12-25 08:49:18,42.379570,-83.200256,NaN,NaN,...,False,False,Night,Night,Day,Day,2019,12,2019-12-25 07:17:49,2019-12-25

In [12]:
US_Accidents_Updated.shape

(953630, 53)

# State Wise Accidents Count

In [13]:
StateWiseAccidents = US_Accidents_Updated.groupby(['State', 'Severity']).State.agg('count').to_frame('StateCount').reset_index()

In [14]:
StateWiseAccidents.to_csv("StateWise_Number_Accidents.csv", index=False)

# Traffic Signal Wise (True/False) Counts

In [15]:
Traffic_Signal_Counts = US_Accidents_Updated.groupby(['Traffic_Signal']).Traffic_Signal.agg('count').to_frame('Count').reset_index()
Traffic_Signal_Counts['Traffic_Signal'] = Traffic_Signal_Counts['Traffic_Signal'].map({False: 'Accident Not On Traffic Signal', True: 'Accident On Traffic Signal'})
Traffic_Signal_Counts = Traffic_Signal_Counts.rename(columns={"Traffic_Signal": "Category"})

In [16]:
Traffic_Signal_Counts.to_csv("accident_count_signal_donut_chart.csv", index=False)

# Weather Conditions Wise Accident Counts

In [17]:
Weather_Conditions_Accidents = US_Accidents_Updated.groupby(['Weather_Condition']).Weather_Condition.agg('count').to_frame('Accident_Count').reset_index()

#get top 10 weather conditions
Weather_Conditions_Accidents = Weather_Conditions_Accidents.sort_values(by=['Accident_Count'], ascending=False)
Weather_Conditions_Accidents = Weather_Conditions_Accidents.head(10)

In [18]:
Weather_Conditions_Accidents.to_csv("accident_count_Weather_Condition.csv", index=False)

# Month Wise Accident Counts

In [19]:
Month_Wise_Accidents = US_Accidents_Updated.groupby(['AccidentDate', 'State']).Weather_Condition.agg('count').to_frame('Accident_Count').reset_index()

In [20]:
Month_Wise_Accidents.to_csv("accident_count_month_wise.csv", index=False)